{% extends 'layout.html' %}
{% block title %}Map{% endblock %}
{% block head %}
    <!-- Clusters css -->
    <link rel="stylesheet" href="{{url_for('static', filename='scripts/markerclustererplus/clusters.css')}}">
{% endblock %}
{% block body %}
    <div class="header" style="padding: 5px; ">
    <h1 style="font: bold 35px Arial; color: #1e64c8; text-align: left ; padding : 5 px; padding-left : 30px;" data-lang="visualization"></h1>
    </div>
    <div class="split-flex">
        <div class="left-center-flex" style="padding: 5px; width: 40%;">
            <div style="height: 40%;">
                <div class="img-div" style="height: 100%; width: 100%;">
                    <div>
                        <img id="selected" class="border" src="{{url_for('static', filename='img/desc.png')}}">
                    </div>
                </div>
            </div>
            <div class="horizontal-img-flex" style="height: 26%;">
                <h1 data-lang="nearby_images"></h1>
                <div>
                    <div id="closest">
                    </div>
                </div>
            </div>
            <div class="horizontal-img-flex" style="height: 26%;">
                <h1 data-lang="top_images"></h1>
                <div>
                    <div id="top">
                    </div>
                </div>
            </div>
        </div>
        <div id="map-container" class="right-center-flex" style="width: 60%;">
            <input id="searchbox" data-lang="search" class="controls" type="text" placeholder="...">
            <div id="map"></div>
            <div class="footer-controls-flex">
                <div id="recenter" class="control-container">
                    <div class="control">
                        <img src="{{url_for('static', filename='img/recenter.png')}}">
                    </div>
                    <div class="text" data-lang="recenter">
                    </div>
                </div>
                <div id="nl-lang" class="control-container hidden">
                    <div class="control">
                        <img src="{{url_for('static', filename='img/nl.png')}}">
                    </div>
                    <div class="text">
                        Nederlands
                    </div>
                </div>
                <div id="en-lang" class="control-container">
                    <div class="control">
                        <img src="{{url_for('static', filename='img/en.png')}}">
                    </div>
                    <div class="text">
                        English
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay" class="hidden"></div>
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>About the Photograph</h2>
        </div>
        <div class="modal-body">
            <p>Date: </p>
            <p>Description: </p>
        </div>
        <div class="modal-footer">
            <h3>&#169; Someone</h3>
        </div>
        </div>
    
    </div>
{% endblock %}
{% block scripts %}
    <!-- Maps handler -->
    <script type=text/javascript src="{{url_for('static', filename='scripts/maps.js')}}"></script>
    <!-- Marker clusterer -->
    <script type=text/javascript src="{{url_for('static', filename='scripts/markerclustererplus/markerclustererplus-4.0.1.min.js')}}"></script>
    <!-- Main -->
    <script type=text/javascript>
        var IMG_SCROLL_LIMIT = 5;
        var CLOSEST_TIMEOUT = 100; // Timeout in ms
        var MAP_BLINDSPOT = {top: 120, bottom: 170, left: 50, right: 50};

        var selected = undefined;
        var lang = 'nl';
        var metadata = {};

        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        var maps = new MapsHandlerClustering('map', 'searchbox', "{{config.GOOGLE_API_KEY}}",
            libraries=[],
            default_center={lat: {{config.DEFAULT_POS_LAT}}, lng: {{config.DEFAULT_POS_LNG}}},
            default_zoom={{config.DEFAULT_ZOOM}},
            map_blindspot={top: 120, bottom: 170, left: 50, right: 50},
            map_listeners={
                center_changed: setClosest,
            },
            marker=undefined
        );

        // Get all locations of done scans
        function getLocs(callback) {
            $.ajax({
                method: 'GET',
                url: {{url_for('get_scans_loc')|tojson}}
            })
            .done(function(data) {
                callback(data);
            })
            .fail(function() {
                console.error("getLocs failed");
            });
        }

        // Get top scans aes
        function getTopAesToday(callback) {
            var formData = new FormData();
            formData.append("limit", IMG_SCROLL_LIMIT);
            $.ajax({
                method: 'POST',
                url: {{url_for('get_scans_top_aes_today')|tojson}},
                data: formData,
                processData: false,
                contentType: false
            })
            .done(function(data) {
                callback(data);
            })
            .fail(function() {
                console.error("getTopAesToday failed");
            });
        }

        // Get top scans total
        function getTopTotalToday(callback) {
            var formData = new FormData();
            formData.append("limit", IMG_SCROLL_LIMIT);
            $.ajax({
                method: 'POST',
                url: {{url_for('get_scans_top_total_today')|tojson}},
                data: formData,
                processData: false,
                contentType: false
            })
            .done(function(data) {
                callback(data);
            })
            .fail(function() {
                console.error("getTopTotalToday failed");
            });
        }

        // Get top scans total previous day
        function getTopTotalYesterday(callback) {
            var formData = new FormData();
            formData.append("limit", IMG_SCROLL_LIMIT);
            $.ajax({
                method: 'POST',
                url: {{url_for('get_scans_top_total_yesterday')|tojson}},
                data: formData,
                processData: false,
                contentType: false
            })
            .done(function(data) {
                callback(data);
            })
            .fail(function() {
                console.error("getTopTotalYesterday failed");
            });
        }

        // Get metadata for a specific id
        function updatemetadata(callback) {
            var formData = new FormData();
            formData.append("id", selected);
            $.ajax({
                method: 'POST',
                url: {{url_for('get_metadata')|tojson}},
                data: formData,
                processData: false,
                contentType: false
            })
            .done(function(data) {
                callback(data);
            })
            .fail(function() {
                console.error("getTopTotalToday failed");
            });
        }

        function setLangClick(language) {
            lang = language;
            setLanguage(language);
            maps.setLanguage(lang);
            $("#nl-lang").removeClass("hidden");
            $("#en-lang").removeClass("hidden");
            $("#" + language + "-lang").addClass("hidden");
        }

        function update() {
            getLocs((locs) => {maps.setMarkers(locs); showClosest();});
            getTop();
        }

        var topOrder = [getTopTotalYesterday, getTopAesToday];
        var topCounter = 0;
        function getTop(top=undefined) {
            if(top != undefined) {
                showTop(top);
            }
            else if(topCounter < topOrder.length) {
                topOrder[topCounter](getTop);
                topCounter++;
            }
            else {
                topCounter = 0;
            }
        }

        // Link inputs
        $('#nl-lang').on('click', function(){setLangClick('nl');});
        $('#en-lang').on('click', function(){setLangClick('en');});
        $('#recenter').on('click', function(){maps.recenter();});

        // Socket
        var socket = io('/map');

        socket.on('map_ready', () => {
            update();
        });

        socket.on('connect_error', () => {
            // Show overlay until connection restored
            $("#overlay").removeClass("hidden");
        });

        socket.on('disconnect', () => {
            // Show overlay until connection restored
            $("#overlay").removeClass("hidden");
        });

        socket.on('reconnect', () => {
            // Remove overlay and update
            $("#overlay").addClass("hidden");
            update();
        });


        function metadatapopup(metadata) {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }

        function setSelected(id) {
            selected = id;
            $('#selected').attr("src", '/static/uploads/scans/' + id + '.jpg');
            metadata = updatemetadata();
            $('#selected').attr("onclick", 'metadatapopup(' + metadata + ')');
            maps.map.setZoom(15);
            maps.map.panTo({lat: maps.locations[id].lat, lng: maps.locations[id].lng});
        }


        var closest_timeout = undefined;
        function setClosest() {
            window.clearTimeout(closest_timeout);
            closest_timeout = setTimeout(showClosest, CLOSEST_TIMEOUT);
        }

        function showClosest() {
            distances = maps.markerDistancesToCenter();
            $("#closest").empty();
            var offset = 0;
            for (let i = 0; i < Math.min(IMG_SCROLL_LIMIT, distances.length); i++) {
                if (distances[i].id != selected) {
                    createImage(distances[i].id).appendTo("#closest");
                }
            }
        }

        function showTop(top) {
            $("#top").empty();
            for (let i = 0; i < Math.min(IMG_SCROLL_LIMIT, top.length); i++) {
                createImage(top[i].id).appendTo("#top");
            }
        }
        
        function createImage(id) {
            return $('<div></div>').append($('<img>', {class: 'border clickable', src: '/static/uploads/scans/' + id + '.jpg', onclick: 'setSelected(' + id + ')'}));
        }

        $(document).ready(function(){
            setLanguage(lang);
            maps.setLanguage(lang, callback=update);
        });

    </script>
{% endblock %}