{% extends 'layout.html' %}
{% block title %}Map{% endblock %}
{% block head %}
    <!-- Clusters css -->
    <link rel="stylesheet" href="{{url_for('static', filename='scripts/markerclustererplus/clusters.css')}}">
{% endblock %}
{% block body %}
    <div class="header" style="padding: 5px; " data-lang="visualization"></h1>
    </div>
    <div class="split-flex">
        <div class="left-center-flex" style="padding: 5px;">
            <div style="height: 40%;">
                <div class="img-div" style="height: 88%; width: 100%; ">
                    <div>
                        <img id="selected" class="border" src="{{url_for('static', filename='img/instruction.jpg')}}">
                    </div>
                </div>
                <div><h1 id="name" style=" text-align: center; color: #3366cc"></h1></div>  
            </div>
            <div class="horizontal-flex" style="height: 28%;">
                <h1 data-lang="info" style="color: #3366cc"></h1>
                <div class="modal-body">
                    <h2 id ="titel" >Titel:</h2>
                    <h2 id ="addr" >Adres:</h2>
                    <h2 id="datum">Datum: </h2>
                    <h2 id ="desc" ></h2>
                    <h2> Audio: </h2>
                    <h2>
                        <audio id="player" controls="controls">
                            <source id="audio">
                        </audio>
                    </h2>
                </div>
            </div>
            <div class="horizontal-img-flex" style="height: 26%;padding-top:5px">
                <h1 data-lang="nearby_images" style="color: #3366cc"></h1>
                <div>
                    <div id="closest">
                    </div>
                </div>
            </div>
            <!-- <div class="horizontal-img-flex" style="height: 26%;">
                <h1 data-lang="top_images"></h1>
                <div>
                    <div id="top">
                    </div>
                </div>
            </div> -->
        </div>
        <div id="map-container" class="right-center-flex">
            <input id="searchbox" data-lang="search" class="controls" type="text" placeholder="...">
            <div id="map"></div>
        </div>
        <div class="footer-controls-flex">
            <div class ="dropup">
                <div id="route" class="control-container">
                    <div class="control">
                        <img src="{{url_for('static', filename='img/camera.png')}}">
                    </div>
                    <div class="text" data-lang="video"></div>
                    <!-- <div class="dropup-content">
                        <a id="1" href="#" onclick="routelist(this.id);" data-lang="route1"></a>
                        <a id="2" href="#" onclick="routelist(this.id);" data-lang="route2"></a>
                        <a id="3" href="#" onclick="routelist(this.id);" data-lang="route3"></a>
                    </div> -->
                    <div class="dropup-content">
                        <a href="https://streamable.com/lvqapb" target="_blank" data-lang="video1"></a>
                        <a href="https://streamable.com/bk1bdp" target="_blank" data-lang="video2"></a>
                    </div>
                </div>
            </div>           
            <div id="recenter" class="control-container">
                <div class="control">
                    <img src="{{url_for('static', filename='img/recenter.png')}}">
                </div>
                <div class="text" data-lang="recenter"></div>
            </div>
            <div id="nl-lang" class="control-container hidden">
                <div class="control">
                    <img src="{{url_for('static', filename='img/nl.png')}}">
                </div>
                <div class="text">
                    Nederlands
                </div>
            </div>
            <div id="en-lang" class="control-container">
                <div class="control">
                    <img src="{{url_for('static', filename='img/en.png')}}">
                </div>
                <div class="text">
                    English
                </div>
            </div>
        </div>
    </div>
    <div id="overlay" class="hidden"></div>
    <!-- The Modal -->
    <!-- <div id="myModal" class="modal"> -->
        <!-- Modal content -->
        <!-- <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Informatie over de foto</h2>
            </div>
            <div class="modal-body">
                <p id ="addr"></p>
                <p id="datum"></p>
                <p id ="desc"></p>
            </div>
            <div class="modal-footer">
                <h3 id="name"> &copy; </h3>
            </div>
        </div>
    </div> -->
    <!-- The Modal -->
    <div id="routepopup" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span id="close1" class="close">&times;</span>
                <h2 id="routename" > Suggested Route</h2>
            </div>
            <div class="modal-map">
                <iframe id="popupmap" src="" width="100%" height=700 frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <!-- Maps handler -->
    <script type=text/javascript src="{{url_for('static', filename='scripts/maps.js')}}"></script>
    <!-- Marker clusterer -->
    <script type=text/javascript src="{{url_for('static', filename='scripts/markerclustererplus/markerclustererplus-4.0.1.min.js')}}"></script>
    <!-- Main -->
    <script type=text/javascript>
        var IMG_SCROLL_LIMIT = 5;
        var CLOSEST_TIMEOUT = 100; // Timeout in ms
        var MAP_BLINDSPOT = {top: 120, bottom: 170, left: 50, right: 50};


        var metadata = {"name":"Ghent University", "address": "adres niet gevonden","description":"beschrijving niet beschikbaar", "date":"Onbekend", 'company': 'Onbekend'};
        var selected = undefined;
        var lang = 'nl';

        // Get the modal
        var modal = document.getElementById("myModal");
        var routepopup = document.getElementById("routepopup");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var span1 =document.getElementById("close1");

        var user_loc = {"lat":{{config.DEFAULT_POS_LAT}},"lng":{{config.DEFAULT_POS_LNG}}};

        var polygon =[[51.42754,2.93734],[51.20781,6.23324],[49.42623,6.07943],[50.98703,1.94857]];

        function inside(position, vs) {
            // ray-casting algorithm based on
            // https://wrf.ecse.rpi.edu/Research/Short_Notes/pnpoly.html/pnpoly.html
            
            var x = position.coords.latitude, y = position.coords.longitude;
            
            var inside = false;
            for (var i = 0, j = vs.length - 1; i < vs.length; j = i++) {
                var xi = vs[i][0], yi = vs[i][1];
                var xj = vs[j][0], yj = vs[j][1];
                
                var intersect = ((yi > y) != (yj > y))
                    && (x < (xj - xi) * (y - yi) / (yj - yi) + xi);
                if (intersect) inside = !inside;
            }
            
            return inside;
        };

        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                if(inside(position, polygon)) {
                    user_loc.lat = position.coords.latitude;
                    user_loc.lng = position.coords.longitude;
                }else{
                    user_loc.lat = {{config.DEFAULT_POS_LAT}};
                    user_loc.lng = {{config.DEFAULT_POS_LNG}};
                }
            });
        }

        var maps = new MapsHandlerClustering('map', 'searchbox', "{{config.GOOGLE_API_KEY}}",
            libraries=[],
            //default_center={lat: {{config.DEFAULT_POS_LAT}}, lng: {{config.DEFAULT_POS_LNG}}},
            default_center = user_loc,
            default_zoom=14,
            map_blindspot={top: 120, bottom: 170, left: 50, right: 50},
            map_listeners={
                center_changed: setClosest,
            },
            marker=undefined
        );

        // Get all locations of done scans
        function getLocs(callback) {
            $.ajax({
                method: 'GET',
                url: {{url_for('get_scans_loc')|tojson}}
            })
            .done(function(data) {
                callback(data);
            })
            .fail(function() {
                console.error("getLocs failed");
            });
        }

        // Get top scans aes
        function getTopAesToday(callback) {
            var formData = new FormData();
            formData.append("limit", IMG_SCROLL_LIMIT);
            $.ajax({
                method: 'POST',
                url: {{url_for('get_scans_top_aes_today')|tojson}},
                data: formData,
                processData: false,
                contentType: false
            })
            .done(function(data) {
                callback(data);
            })
            .fail(function() {
                console.error("getTopAesToday failed");
            });
        }

        // Get top scans total
        function getTopTotalToday(callback) {
            var formData = new FormData();
            formData.append("limit", IMG_SCROLL_LIMIT);
            $.ajax({
                method: 'POST',
                url: {{url_for('get_scans_top_total_today')|tojson}},
                data: formData,
                processData: false,
                contentType: false
            })
            .done(function(data) {
                callback(data);
            })
            .fail(function() {
                console.error("getTopTotalToday failed");
            });
        }

        // Get top scans total previous day
        function getTopTotalYesterday(callback) {
            var formData = new FormData();
            formData.append("limit", IMG_SCROLL_LIMIT);
            $.ajax({
                method: 'POST',
                url: {{url_for('get_scans_top_total_yesterday')|tojson}},
                data: formData,
                processData: false,
                contentType: false
            })
            .done(function(data) {
                callback(data);
            })
            .fail(function() {
                console.error("getTopTotalYesterday failed");
            });
        }

        function GetAddress(lat,lng, callback) {
            var latlng = new google.maps.LatLng(lat, lng);
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        metadata["address"] = results[0].formatted_address;
                    }else{
                        metadata["address"] = "adres niet gevonden";
                    }
                }else{
                    metadata["address"] = "adres niet gevonden";
                }
                callback(metadata);
            });
        }

        // Get metadata for a specific id
        function updatemetadata() {
            var formData = new FormData();
            formData.append("id", selected);
            $.ajax({
                method: 'POST',
                url: {{url_for('get_metadata')|tojson}},
                data: formData,
                processData: false,
                contentType: false,
                async: false,
            })

            .done(function(data) {
                metadata["date"] = data.date;
                metadata["name"] = data.name;
                metadata["description"] = data.description;
                metadata["company"] = data.company;   
            })
            .fail(function() {
                console.error("getTopTotalToday failed");
            });
        }

        function setLangClick(language) {
            lang = language;
            setLanguage(language);
            maps.setLanguage(lang);
            $("#nl-lang").removeClass("hidden");
            $("#en-lang").removeClass("hidden");
            $("#" + language + "-lang").addClass("hidden");
            metadatapopup(lang);
        }

        function routelist(clicked_id){
            switch (parseInt(clicked_id)) {
                case 1:
                    document.getElementById("popupmap").src = "https://www.google.com/maps/d/u/0/embed?mid=1IItaEm19YGDIL8BdrX8M0QW0kne56eBM&z=14";
                    break;
                case 2:
                    document.getElementById("popupmap").src = "https://www.google.com/maps/d/u/0/embed?mid=1E-qf9nDfgWfsdO6LmbfWXDL4fhlne1R_&z=12";
                    break;
                case 3:
                    document.getElementById("popupmap").src = "https://www.google.com/maps/d/u/0/embed?mid=1VSZegW3AlIGQ9qRLGdcq2wLrF0TaVU7x&z=12";
            }
            routepopup.style.display = "block";
        }

        function metadatapopup(lang) {
            if(lang=='nl') {
                document.getElementById("titel").textContent = "Titel : " + metadata.company;
                document.getElementById("addr").textContent = "Adres : " + metadata.address;
                document.getElementById("datum").textContent = "Foto Datum : " + metadata.date;
                document.getElementById("desc").textContent = "Omschrijving : " + metadata.description;
                document.getElementById("name").innerHTML = "&copy; " + metadata.name;
            }else{
                document.getElementById("titel").textContent = "Title : " + metadata.company;
                document.getElementById("addr").textContent = "Address : " + metadata.address;
                document.getElementById("datum").textContent = "Photo Date : " + metadata.date;
                document.getElementById("desc").textContent = "Description : " + metadata.description;
                document.getElementById("name").innerHTML = "&copy; " + metadata.name;
            }
            // modal.style.display = "block";
        }

        // // When the user clicks on <span> (x), close the modal
        // span.onclick = function() {
        //     modal.style.display = "none";
        // }

        // When the user clicks on <span> (x), close the modal
        span1.onclick = function() {
            routepopup.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            // if (event.target == modal) {
            //     modal.style.display = "none";
            // }
            if (event.target == routepopup) {
                routepopup.style.display = "none";
            }
        }

        function update() {
            getLocs((locs) => {maps.setMarkers(locs); showClosest();});
            getTop();
        }

        var topOrder = [getTopTotalYesterday, getTopAesToday];
        var topCounter = 0;
        function getTop(top=undefined) {
            if(top != undefined) {
                showTop(top);
            }
            else if(topCounter < topOrder.length) {
                topOrder[topCounter](getTop);
                topCounter++;
            }
            else {
                topCounter = 0;
            }
        }

        // Link inputs
        $('#nl-lang').on('click', function(){setLangClick('nl');});
        $('#en-lang').on('click', function(){setLangClick('en');});
        $('#recenter').on('click', function(){maps.recenter();});
        // $('#route').on('click', function(){routelist();});


        // Socket
        var socket = io('/map');

        socket.on('map_ready', () => {
            update();
        });

        socket.on('connect_error', () => {
            // Show overlay until connection restored
            $("#overlay").removeClass("hidden");
        });

        socket.on('disconnect', () => {
            // Show overlay until connection restored
            $("#overlay").removeClass("hidden");
        });

        socket.on('reconnect', () => {
            // Remove overlay and update
            $("#overlay").addClass("hidden");
            update();
        });

        function setSelected(id) {
            selected = id;
            updatemetadata();
            GetAddress(maps.locations[id].lat, maps.locations[id].lng, function(data){
                metadatapopup(lang);
            });
            $('#selected').attr("src", '/static/uploads/scans/' + id + '.jpg');
            document.getElementById("audio").src = '/static/uploads/audio/' + id + '.wav';
            document.getElementById("audio").type = 'audio/wav';
            document.getElementById("player").load();
            //createAudio(id).appendTo("#audio");
            // $('#selected').attr("class", 'border clickable');
            // $('#selected').attr("onclick", 'metadatapopup()');
            maps.map.setZoom(16);
            maps.map.panTo({lat: maps.locations[id].lat, lng: maps.locations[id].lng});
        }


        var closest_timeout = undefined;
        function setClosest() {
            window.clearTimeout(closest_timeout);
            closest_timeout = setTimeout(showClosest, CLOSEST_TIMEOUT);
        }

        function showClosest() {
            distances = maps.markerDistancesToCenter();
            $("#closest").empty();
            var offset = 0;
            for (let i = 0; i < Math.min(IMG_SCROLL_LIMIT, distances.length); i++) {
                if (distances[i].id != selected) {
                    createImage(distances[i].id).appendTo("#closest");
                }
            }
        }

        function showTop(top) {
            $("#top").empty();
            for (let i = 0; i < Math.min(IMG_SCROLL_LIMIT, top.length); i++) {
                createImage(top[i].id).appendTo("#top");
            }
        }
        
        function createImage(id) {
            return $('<div></div>').append($('<img>', {class: 'border clickable', src: '/static/uploads/scans/' + id + '.jpg', onclick: 'setSelected(' + id + ')'}));
        }

        // function createAudio(id) {
        //     return $('<div></div>').append($('<source>', {src: '/static/uploads/audio/' + id + '.wav', type='audio/wav'}));
        // }


        $(document).ready(function(){
            setLanguage(lang);
            maps.setLanguage(lang, callback=update);
            metadatapopup(lang);
        });

    </script>
{% endblock %}